:root {
    --mbpOffWhite: #f0f0f0;
    --mbpWhite: #ffffff;
    
    --mbpGreen: #008000;
    --mbpGreenDark: #254117;
    --mbpGreenLight: #4CC417;
    
    --mbpOrange: #FFA500;
    --mbpOrangeDark: #F88017;
    --mbpLightOrange: #E8A317;
    
    --mbpDarkPurple: #562356;
    --mbpLightPurple: #764376;
    --mbpPurple: #800080;
    
    --mbpLight: #ffffff;
    --mbpDark: #f0f0f0;
    
    --mbpText: var(--mbpGreen);
    --mbpTextDark: (--mbpGreenDark);
    
    --mbpTextLight: var(--mbpGreenLight);
    
    --mbpLink: var(--mbpGreen);
    --mbpLinkHover: var(--mbpGreenDark);
    --mbpLinkActive: var(--mbpGreen);
    --mbpLinkVisited: var(--mbpGreen);
    
    --mbpBackground: var(--mbpWhite);
    
    --mbpDarkBg: var(--mbpDarkPurple);
    --mbpLightBg: var(--mbpLight);
    --mbpDefaultBg: var(--mbpOffWhite);
    
    --mbpNavHover: var(--mbpGreenLight);
}

.nav-button { 
    background: var(--mbpOffWhite);
    color: var(--mbpText);
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 1px;
    margin-right: 1px;
}









