:root {
    --homlishOffWhite: #f0f0f0;
    --homlishWhite: #ffffff;
    
    --homlishGreen: #008000;
    --homlishGreenDark: #254117;
    --homlishGreenLight: #4CC417;
    
    --homlishOrange: #FFA500;
    --homlishOrangeDark: #F88017;
    --homlishLightOrange: #E8A317;
    
    --homlishDarkPurple: #562356;
    --homlishLightPurple: #764376;
    --homlishPurple: #800080;
    
    --homlishLight: #ffffff;
    --homlishDark: #f0f0f0;
    
    --homlishText: var(--homlishOrange);
    --homlishTextDark: (--homlishOrangeDark);
    
    --homlishTextLight: var(--homlishGreenLight);
    
    --homlishLink: var(--homlishOrangeDark);
    --homlishLinkHover: var(--homlishOrange);
    --homlishLinkActive: var(--homlishOrangeDark);
    --homlishLinkVisited: var(--homlishOrangeDark);
    
    --homlishBackground: var(--homlishDarkPurple);
    
    --homlishDarkBg: var(--homlishDarkPurple);
    --homlishLightBg: var(--homlishLightPurple);
    --homlishDefaultBg: var(--homlishPurple);
    
    --homlishNavHover: var(--homlishOffWhite);
}










