:root {
    --mbpOffWhite: #f0f0f0;
    --mbpWhite: #ffffff;
    
    --mbpGreen: #008000;
    --mbpGreenDark: #254117;
    --mbpGreenLight: #4CC417;
    
    --mbpOrange: #FFA500;
    --mbpOrangeDark: #F88017;
    --mbpLightOrange: #E8A317;
    
    --mbpDarkPurple: #562356;
    --mbpLightPurple: #764376;
    --mbpPurple: #800080;
    
    --mbpLight: #ffffff;
    --mbpDark: #f0f0f0;
    
    --mbpText: var(--mbpOrange);
    --mbpTextDark: (--mbpOrangeDark);
    
    --mbpTextLight: var(--mbpGreenLight);
    
    --mbpLink: var(--mbpOrangeDark);
    --mbpLinkHover: var(--mbpOrange);
    --mbpLinkActive: var(--mbpOrangeDark);
    --mbpLinkVisited: var(--mbpOrangeDark);
    
    --mbpBackground: var(--mbpDarkPurple);
    
    --mbpDarkBg: var(--mbpDarkPurple);
    --mbpLightBg: var(--mbpLightPurple);
    --mbpDefaultBg: var(--mbpPurple);
    
    --mbpNavHover: var(--mbpOffWhite);
}
