#bootstrap-overrides { /* 100+1=101 priority score, yay! */
    background-color:   var(--mbpBackground); 
    color:              var(--mbpText);
}
#body,#html {
    height: 100%;
    margin-bottom: 60px;
}

.white {
  color: var(--mbpOffWhite);
}

.lblBcast {
    margin-bottom:  0px ;
    vertical-align:top;
    position:relative;
}
.controlsColumn{
	font-size: 0.75em;   
}

a:link          { color: var(--mbpLink); }
a:visited       { color: var(--mbpLinkVisited); }
a:hover         { color: var(--mbpLinkHover); }
a:active        { color: var(--mbpLinkActive); }

.mbpDarkBg {
    background: var(--mbpDarkBg);
}
.mbpLightBg {
    background: var(--mbpLightBg);
}
.mbpDefaultBg {
    background: var(--mbpDefaultBg);
}
.mbpOffWhite {
    background: var(--mbpOffWhite);
}

.hand {
	cursor:pointer;
	cursor: hand;
}

#spinnerDiv {
    font-size:32px;
    color:var(--mbpDarkBg) !important;
}
#spinner2Div {
    font-size:32px;
    color:var(--mbpOffWhite) !important;
}
/******** all navbar related items *************/
.nav-button:hover {
    background: var(--mbpNavHover);
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
.chevronSpanOffset {
    top: 50px;
}
.chevronSpanTop {
    top: 0px;
}
.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.profilePicture{
    height: 64px;
    width: 64px;
    margin-top: -14px;
    margin-bottom: -14px;
}
.profilePictureDropdown:after {
    content: none;
}

.navbarShown {
    margin-top: -20px;
}

/* end navbar ** */

.footerText {
    
}


.fullheight{
	align-items: stretch;
}
.center {
	text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.inline {
    display:inline;
}

.noPadding {
	padding-left: 0px;
	padding-right: 0px;
}
.borderless {
	border-width: 0px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#mynetwork {
    width: 1200px;
    height: 400px;
    border: 1px solid lightgray;
}

#sMessage {
    color:red;
}
.red{
    background: red;
    font-weight:bold;
}
.redText {
    color:red;
}
.greenText {
    color:green;
}
.bggrey {
    background-color: grey;
}
.bggreen {
    background-color: green;
}
.redText {
    color:red;
}
.blackText {
    color:black;
}

#byear2 {
    width: 180px;
}
#bmonth2 {
    width: 180px;
}

#personColumn {
    padding: 2px;
    display: flex;
}
.personDiv {
    width: 32%;
    display: inline-block;
    border: 2px solid rgb(#562356);
}
.personDiv .fas {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 30px;
  color: black;
}
.personVideo {
    vertical-align: middle;
}
.personButton {
    padding: 0px 0px 0px 0px;
    background-size: contain;
}
.personDropdown {
    position: relative;
}
.personItem {
    display: grid;
    padding-left: 10px;
}
.person {
    max-height:100%;
    max-width:100%;
}
.personSelected {
    border: 2px solid orange;
}
.personBlocked {
    border: 2px solid red;
}
.personDim {
    opacity: 0.3;
}
.people {
    overflow-y: scroll;
    max-height: 480px;
    text-align: left;
}

.video-container {
    max-height:100%;
    max-width:100%;
}
.video-container-fluid {
    height: 100%;
    min-height: 100%;
}
.videoSpinner {
   position:absolute;
   top:50%;
   left:50%;
   margin-top:-25px;
   margin-left:-25px;
}
.videoDancer {
   position:absolute;
   top:50%;
   left:50%;
   margin-top:-12px;
   margin-left:-12px;
}

#chatColumn {
    padding-left: 0px;
    padding-right: 0px;
}
.chatrow{
    margin-top: 5px;
}
#sendChatColumn {

}
.progress{
    margin-top:2px;
    margin-bottom:2px;
}
.progressLarge{
    height: 10px;
    width:620px;
}
.progressSmall{
    height: 10px;
    width:270px;
}
.videoLarge {
    width:640px;
    height:480px;
}
.videoSmall {
    width:270px;
    height:180px;
}
#profileVideo {
    height: 52px;
    margin-top: -4px;
    vertical-align: middle;
}

#lights {
  display:flex;
}

@keyframes blink {`
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

.profileContainerUpdate {
    max-height:50%;
    max-width:100%;
}
.profileContainerPicture {
    max-height:50%;
    max-width:100%;
}
.profileContainer div + div {
  margin-top: 1em;
}
.profileContainer label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

.profileContainer input {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}
.profileLink {
     width: 600px;
}

.profileContainer input:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

.profileContainer .button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

.profileContainer button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

#grid, #grid div {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.chatDate {
    color: grey;
    font-size: 0.75em;
}
.chatName {
    color: black;
    font-size: 0.75em;
}
.chatMessage {
    color: blue;
}
.emojionearea .emojionearea-editor:empty::before { content: attr(placeholder); display: block; color: blue; padding-top: 1em; }
.emojionearea .emojionearea-editor {
    color: blue;
    text-align: left;
}
.button-chat {
    cursor: hand;
    height:100%;
	margin-top: 5px;	 
}
.sendParent{   
    margin-top: 10px;	 
    width:100%;
}
.sendLeft {
    margin-left: 20px;
    background: #F7F7F7;
    display: inline;
    float: left;
    width:92%;
}
.sendRight {
    float: right;
}
.panel-chat {
    border: 0px;
    background-color: #fff;
    margin-bottom: 10px;
}

.main-wrapper {
    display: flex;
}

.chat-wrapper {
    word-wrap: break-word;
    width: 400px;
	font: 14px 'lucida grande',tahoma,verdana,arial,sans-serif;
    align-items: stretch;
}
.message_box {
	background: #F7F7F7;
    word-wrap: break-word;
    width: 100%;
    height: 480px;
	font: 14px 'lucida grande',tahoma,verdana,arial,sans-serif;
    align-items: stretch;
	overflow: auto;
    text-align: left;
    min-height:100%;
}

.scheduleDate {
     color: springgreen;
}

.system_msg{color: #BDBDBD;font-style: italic;}
.user_name{font-weight:bold;}
.user_message{color: #88B6E0;}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.form-group-top-row {
    margin-top: 1%;
}
.register-row {
    margin-top: 12px;
    margin-bottom: 12px;
}

.spacer {
  margin-top: 1%;
  margin-bottom: 1%;
}

.login-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;  
}
#status {
    background-color: white;
    text-align: left;
}
hpassword{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}
.hpassword:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.hpassword{
    margin:100px;
    float:left;
    position:relative;
    cursor:pointer;
}

.hpassword:hover #rpassword{
    display:block;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.modal-dialog .modal-header {
  display: block;
}
.smallfont {
    font-size: 0.75em;
}

.btnSlide {
    margin-bottom: 10px;
}
.btnVc{
    margin-left:5px;
    margin-right: 5px;
}

.admin_people{
    font-size: 10px;
}

/* slickgrd */
.select2-container {
    top: -3px;
    left: -6px;
}
.select2-container .select2-selection--single {
    height: 26px;
}

#myGrid {

  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
    font-size: 0.75em;
}

.dmcaBlock{
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.dmcaRedTint {
  background-color: red;
}

#soundsTable {
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  font-size: 0.75em;
}
#soundsTable_length {
	color: var(--mbpOrange);
}
#soundsTable_filter {
	color: var(--mbpOrange);
}
#soundsTable_info {
	color: var(--mbpOrange);
}
#soundsTable_paginate {
	color: blue !important;
}
#soundsTable_previous {
	color: blue !important;
}
#soundsTable_next {
	color: blue !important;
}
#soundsTable_next:hover {
	background-color: yellow !important;
}
.sorting_asc {
	color: var(--mbpOrange);
}
.sorting_disabled {
	color: var(--mbpOrange);
}
.dataTables_wrapper .dataTables_paginate .paginate_button2 {
    color: white !important;
    border: 1px solid var(--mbpOrange)!important;
    background-color: var(--mbpOrange);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--mbpOrange)), color-stop(100%, var(--mbpOrange)))!important;
    background: -webkit-linear-gradient(top, var(--mbpOrange) 0%, var(--mbpOrange) 100%)!important;
    background: -moz-linear-gradient(top, var(--mbpOrange) 0%, var(--mbpOrange) 100%)!important;
    background: -ms-linear-gradient(top, var(--mbpOrange) 0%, var(--mbpOrange) 100%)!important;
    background: -o-linear-gradient(top, var(--mbpOrange) 0%, var(--mbpOrange) 100%)!important;
    background: linear-gradient(to bottom, var(--mbpOrange) 0%, var(--mbpOrange) 100%)!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: 0em !important;
}
.page-link {
      padding: 0 0 0 0;
}
.sound-ctl {
	color: blue;
}
.sound-ctl-remote {
	color: var(--mbpOrange);
}